################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fabric
/Fabric/bin/Debug/netcoreapp2.1
/Fabric/obj
